/* Default styles for larger screens */
.videoSection {
  margin-bottom: 20px;
}

.videoBox iframe {
  width: 100%;
  max-width: 900px;
  height: 600px;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryText {
  font-size: 18px;
  text-align: center;
}

/* Media Query for Mobile View */
@media only screen and (max-width: 767px) {
  .videoBox iframe {
    width: 100%;
    height: 300px; /* You might need to adjust the height based on your design */
  }

  .summaryText {
    font-size: 16px;
  }
}

.summaryContainer p {
  outline: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 10px 12px;
}